{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Toyota Yaris Limerick Buy">
    <meta name="keywords" content="toyota yaris limerick buy">
    <meta name="author" content="Toyota Yaris Limerick">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Booking</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- 1 Book TestDrive -->
    <header class="hero">
        <div class="hero-content">
            <a href="{% url 'booking_view' %}" class="btn-book">Book TestDrive</a>
            <br>
            <br>
            <a href="https://www.facebook.com/marketplace/item/529926859740547/" class="link">Marketplace Facebook</a>
        </div>
    </header>

    <!-- 2 -->
    <section class="details">

        <!-- descriptions -->
        <div class="car-specs">
            <h2>Toyota Yaris Hybrid Luna Specifications</h2>
            <ul>
                <li>Engine: 1.5L Hybrid</li>
                <li>Transmission: Automatic</li>
                <li>Year: 2018</li>
                <li>Mileage: 61000</li>
                <li>Fuel Type: Petrol Hybrid</li>
                <li>Total Owners: 2</li>
                <li>Road Tax: 150</li>
                <li>Seating Capacity: 5</li>
                <li>Color: Grey</li>
                <li>NCT Expiry: Jan/2026</li>
            </ul>
        </div>

        <!-- Price -->
        <div class="car-price-contact">
            <p class="price">Price: €16,300</p>
            <p>Contact: +353 87 374 9562</p>
        </div>


        <!-- fotos -->
        <div class="photos-row">
            <img src="{% static 'images/toyota1.jpg' %}" alt="Toyota Yaris 1" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota2.jpg' %}" alt="Toyota Yaris 2" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota3.jpg' %}" alt="Toyota Yaris 3" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota4.jpg' %}" alt="Toyota Yaris 4" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota5.jpg' %}" alt="Toyota Yaris 5" class="thumbnail" onclick="openModal(this.src)">
        </div>

        <div class="photos-row">
            <img src="{% static 'images/toyota6.jpg' %}" alt="Toyota Yaris 6" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota7.jpg' %}" alt="Toyota Yaris 7" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota8.jpg' %}" alt="Toyota Yaris 8" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota9.jpg' %}" alt="Toyota Yaris 9" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota10.jpg' %}" alt="Toyota Yaris 10" class="thumbnail" onclick="openModal(this.src)">
        </div>

        <div class="photos-row">
            <img src="{% static 'images/toyota11.jpg' %}" alt="Toyota Yaris 11" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota12.jpg' %}" alt="Toyota Yaris 12" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota13.jpg' %}" alt="Toyota Yaris 13" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota14.jpg' %}" alt="Toyota Yaris 14" class="thumbnail" onclick="openModal(this.src)">
            <img src="{% static 'images/toyota17.jpg' %}" alt="Toyota Yaris 15" class="thumbnail" onclick="openModal(this.src)">
        </div>

        <!--  -->
        <div id="myModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

    </section>

    <!--  Footer -->
    <footer>
        <p>&copy; 2024 Car Booking. All rights reserved.</p>
    </footer>

    <script>
    function openModal(src) {
        document.getElementById("myModal").style.display = "block";
        document.getElementById("img01").src = src;
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }</script>


</body>


</html>
