<form method="post">
    {% csrf_token %}
    <h2>Login</h2>
    {{ login_form.as_p }}
    {% if login_form.non_field_errors %}
        <div class="error">
            {{ login_form.non_field_errors }}
        </div>
    {% endif %}
    <button type="submit" name="login">Login</button>
</form>

<hr>

<form method="post">
    {% csrf_token %}
    <h2>Create User</h2>
    {{ register_form.as_p }}
    {% if register_form.non_field_errors %}
        <div class="error">
            {{ register_form.non_field_errors }}
        </div>
    {% endif %}
    <button type="submit" name="register">Create User</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
